{{#if (eq currentRoute mainRoute)}}
  <li class="active">{{mainLabel}}</li>
{{else}}
  <li><a href={{href-to mainRoute}}>{{mainLabel}}</a></li>
  {{#if (eq currentRoute appRoute)}}
    <li class="active">{{capitalize routeParams.app_name}}</li>
  {{else}}
    <li>
      {{#if routeParams.app_name}}
        <a href={{href-to appRoute routeParams.app_name}}>{{capitalize routeParams.app_name}}</a>
      {{/if}}
    </li>
    {{#if (eq currentRoute changeListRoute)}}
      <li class="active">{{capitalize (pluralize routeParams.model_name)}}</li>
    {{else}}
      <li><a href={{href-to changeListRoute routeParams.app_name routeParams.model_name}}>{{capitalize (pluralize routeParams.model_name)}}</a></li>
      <li class="active">
        {{#if (or (eq routeParams.id -1) (eq routeParams.id 'new'))}}
          New {{routeParams.model_name}}
        {{else}}
          {{#from-elsewhere name='recordName' as |name|}}{{name}}{{/from-elsewhere}}
        {{/if}}
      </li>
    {{/if}}
  {{/if}}
{{/if}}
