{{to-elsewhere named='recordName' send=model.__str__}}
{{#if custom_actions.length}}
  <div class="actions">
    {{#each custom_actions as |act|}}
      {{custom-action act=act model=model expanded=true method=method request=rqst receiver=this disabled=actionIsRunning performing=performing}}
    {{/each}}
    <div class="clearfix"></div>
  </div>
  <div class="clarfix"></div>
{{/if}}
<form>
  {{#each fieldsets as |fieldset|}}
    {{form-fieldset
      field=fieldset
      model=model
      fetch_meta=fetch_meta
      main=this
      addRelated=(action 'add_related')
      editRelated=(action 'edit_related')
      languages=languages
    }}
  {{/each}}
  {{#unless noButtons}}
    <div class="buttons">
      <button class="btn btn-primary pull-right" {{action (perform save_all 'redirect')}} disabled={{buttonsDisabled}}>
        {{#if (eq performing 'redirect')}}
          <i class="fa fa-spinner fa-spin"></i>
        {{else}}
          <i class="fa fa-floppy-o"></i>
        {{/if}}
        &nbsp;&nbsp;Save
      </button>
      <button class="btn btn-default pull-right" {{action (perform save_all 'stay')}} disabled={{buttonsDisabled}}>
        {{#if (eq performing 'stay')}}
          &nbsp;<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
        {{else}}
          <i class="fa fa-floppy-o"></i>
          <i class="fa fa-pencil"></i>
        {{/if}}
        &nbsp;&nbsp;Save and continue editing
      </button>
      <button class="btn btn-danger pull-left" {{action 'delete_all' model}} disabled={{buttonsDisabled}}>
        <i class="fa fa-trash"></i>
        &nbsp;&nbsp;Delete
      </button>
      <button class="btn btn-default pull-left" {{action (perform cancel_all model)}} disabled={{buttonsDisabled}}>
        {{#if (eq performing 'cancel')}}
          &nbsp;<i class="fa fa-spinner fa-spin"></i>&nbsp;
        {{else}}
          <i class="fa fa-reply"></i>
        {{/if}}
        &nbsp;&nbsp;Cancel
      </button>
      <div class="clearfix"></div>
    </div>
  {{/unless}}
</form>
{{#if wizardOpen}}
  {{action-wizard
    overlayClick=(toggle 'wizardOpen' this)
    act=wizardAct
    model=wizardModel
    languages=languages
    wizard_action=doRqst
    modalRecord=modalRecord
  }}
{{/if}}
{{#if modalOpen}}
  {{#liquid-tether             
    target=tetherTarget  
    targetModifier="visible"   
    attachment=tetherAttachment
    targetAttachment=tetherTargetAttachment
    class=tetherClass
    overlayClass="modal-backdrop"
    on-overlay-click=(toggle 'modalOpen' this)
  }}  
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        {{#if modalField}}
          {{change-form
            model=modalRecord
            fieldsets=modalMeta.fieldsets
            noButtons=true
            fetch_meta=fetch_meta
            tetherClass=tetherClass
            tetherTarget=tetherTarget
            tetherAttachment=tetherAttachment
            tetherTargetAttachment=tetherTargetAttachment
            languages=languages
          }}
        {{/if}}
        {{#if modalMessage}}
          <p>{{modalMessage}}</p>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if modalField}}
          <button class="btn btn-primary pull-right" {{action (perform save_related)}} disabled={{modalButtonsDisabled}}>
            {{#if (eq performing 'save_related')}}
              <i class="fa fa-spinner fa-spin"></i>
            {{else}}
              <i class="fa fa-floppy-o"></i>
            {{/if}}
            &nbsp;&nbsp;Save
          </button>
        {{else}}
          <button class="btn btn-danger pull-right" {{action (perform confirm_related)}} disabled={{modalButtonsDisabled}}>
            {{#if (eq performing 'confirm_related')}}
              <i class="fa fa-spinner fa-spin"></i>
            {{else}}
              <i class="fa fa-check"></i>
            {{/if}}
            &nbsp;&nbsp;Confirm
          </button>
        {{/if}}
        <button class="btn btn-default pull-left" {{action (perform cancel_related)}} disabled={{modalButtonsDisabled}}>
          {{#if (eq performing 'cancel_related')}}
            <i class="fa fa-spinner fa-spin"></i>
          {{else}}
            <i class="fa fa-reply"></i>
          {{/if}}
          &nbsp;&nbsp;Cancel
        </button>
      </div>
    </div>
  {{/liquid-tether}}
{{/if}}
