{{#if changeFormRoute}}
  <div class="pull-right add-button">
    {{#link-to changeFormRoute app_name label 'new' class="btn btn-success"}}
      <i class="fa fa-plus"></i>&nbsp;&nbsp;Add {{label}}
    {{/link-to}}
  </div>
{{/if}}
{{#if showFilters}}
  <div class="col-sm-12 col-md-4 col-lg-3 col-md-push-8 col-lg-push-9 filters">
    <h3>Filters</h3>
    {{#if search_enabled}}
      {{form-text
        model=this
        property='searchValue'
        extra=(hash addonIcon='fa fa-search')
        label=false
      }}
    {{/if}}
    {{#if filter_fields.length}}
      {{#each filterFields as |field|}}
        {{form-field
          model=filterValues
          field=field
          onChange=(action 'filterValueChanged')
          required=false
          value=(mut (get filterValues field.name))
        }}
      {{/each}}
    {{/if}}
    <p><br/></p>
  </div>
{{/if}}
<div class="bulk-actions {{listClassName}}">
  <div>With&nbsp;selected:&nbsp;</div>
  <div class="input-group">
    {{#power-select
      placeholder='---'
      options=bulkActions
      selected=selectedBulkAction
      onchange=(action (mut selectedBulkAction))
      allowClear=true
      searchEnabled=false
      as |action|
    }}
      {{action.text}}
    {{/power-select}}
    {{#if (eq selectedBulkAction.type 'download')}}
      <a class="{{if selectedBulkAction.btn_class selectedBulkAction.btn_class 'btn'}} input-group-addon" disabled={{or (not selectedBulkAction) noneChecked}} href={{concat selectedBulkAction.url '?' (query-string selectedRecords)}} download>
        <i class={{if selectedBulkAction.icon_class selectedBulkAction.icon_class 'fa fa-cog'}}></i>
        &nbsp;&nbsp;Go
      </a>
    {{else}}
      <span class="{{if selectedBulkAction.btn_class selectedBulkAction.btn_class 'btn btn'}} input-group-addon" disabled={{or (not selectedBulkAction) noneChecked}} {{action 'bulkAction' selectedBulkAction}}>
        <i class={{if selectedBulkAction.icon_class selectedBulkAction.icon_class 'fa fa-cog'}}></i>
        &nbsp;&nbsp;Go
      </span>
    {{/if}}
  </div>
</div>
<div class="table-responsive {{inputClass}} {{listClassName}}">
  {{list-pagination meta=meta model=model currentPage=currentPage goToPage=(action 'goToPage')}}
  <table class="table table-condensed table-striped">
    <thead>
      <tr class="inverse">
        <th colspan="{{column_count}}">
          {{capitalize title}}
        </th>
      </tr>
      <tr>
        <th>
          <div class="checkbox checkbox-danger">
            {{input type='checkbox' checked=allChecked title='Select all' class='styled'}}
            <label></label>
          </div>
        </th>
        <th colspan={{if orderable '2' '1'}}>&nbsp;</th>
        {{#each display_fields as |field|}}
          <th class="fieldname">
            {{#if field.label}}
              {{field.label}}
            {{else}}
              {{field.name}}
            {{/if}}
            {{#if (and ordering_fields (array-contains ordering_fields field.name))}}
              <div class='pull-right'>
                <i class="fa fa-{{if (eq filterValues.ordering field.name) 'sort-desc' (if (eq filterValues.ordering (concat '-' field.name)) 'sort-asc' 'sort')}}" {{action 'toggleOrdering' field.name}}></i>
              </div>
            {{/if}}
          </th>
        {{/each}}
        {{#if changeFormRoute}}
          <th>&nbsp;</th>
        {{/if}}
        {{#each custom_actions as |act|}}
          <th>&nbsp;</th>
        {{/each}}
      </tr>
    </thead>
    {{#if model.isFulfilled}}
      {{#if orderable}}
        {{#sortable-group tagName='tbody' onChange='reorderItems' as |group|}}
          {{#each sorted as |record|}}
            {{record-line
              model=record
              group=group
              handle='.handle'
              display_fields=display_fields
              innerClass=innerClass
              changeFormRoute=changeFormRoute
              app_name=app_name
              label=label
              orderable=orderable
              deleteRecord=(action 'deleteRecord')
              custom_actions=custom_actions
              receiver=this
            }}
          {{/each}}
        {{/sortable-group}}
      {{else}}
        <tbody>
          {{#each model as |record|}}
            {{record-line
              model=record
              display_fields=display_fields
              innerClass=innerClass
              changeFormRoute=changeFormRoute
              app_name=app_name
              label=label
              deleteRecord=(action 'deleteRecord')
              custom_actions=custom_actions
              receiver=this
            }}
          {{/each}}
        </tbody>
      {{/if}}
    {{else}}
      <tr>
        <th colspan={{column_count}} class="fieldname">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </th>
      </tr>
    {{/if}}
  </table>
  {{list-pagination meta=meta model=model currentPage=currentPage goToPage=(action 'goToPage')}}
</div>
{{#if wizardOpen}}
  {{action-wizard
    overlayClick=(toggle 'wizardOpen' this)
    act=wizardAct
    model=wizardModel
    languages=languages
    wizard_action=_do_rqst
    modalRecord=modalRecord
  }}
{{/if}}
{{#if modalOpen}}
  {{#liquid-tether             
    target=tetherTarget  
    targetModifier="visible"   
    attachment=tetherAttachment
    targetAttachment=tetherTargetAttachment
    class=tetherClass
    overlayClass="modal-backdrop"
    on-overlay-click=(toggle 'modalOpen' this)
  }}  
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modalMessage}}</p>
        {{#if (eq confirmType 'bulk')}}
          <ul>
            {{#each selectedRecordsForAction as |record|}}
              <li>{{record.__str__}}</li>
            {{/each}}
          </ul>
          {{#if ignoredRecordsForAction}}
            <p>{{ignoreMessage}}</p>
            <ul>
              {{#each ignoredRecordsForAction as |record|}}
                <li>{{record.__str__}}</li>
              {{/each}}
            </ul>
          {{/if}}
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if (eq confirmType 'delete')}}
          <button class="btn btn-danger pull-right" {{action (perform confirm_delete)}} disabled={{modalButtonsDisabled}}>
            {{#if confirm_delete.isRunning}}
              <i class="fa fa-spinner sa-spin"></i>
            {{else}}
              <i class="fa fa-check"></i>
            {{/if}}
            &nbsp;&nbsp;Confirm
          </button>
        {{else}}
          <button class="btn btn-danger pull-right" {{action (perform confirm_bulk)}} disabled={{modalButtonsDisabled}}>
            {{#if confirm_bulk.isRunning}}
              <i class="fa fa-spinner sa-spin"></i>
            {{else}}
              <i class="fa fa-check"></i>
            {{/if}}
            &nbsp;&nbsp;Confirm
          </button>
        {{/if}}
        <button class="btn btn-default pull-left" {{action 'cancel_confirm'}} disabled={{modalButtonsDisabled}}>
          <i class="fa fa-reply"></i>
          &nbsp;&nbsp;Cancel
        </button>
      </div>
    </div>
  {{/liquid-tether}}
{{/if}}
