{{#conditional-display condition=act.display_condition value=(get model act.display_condition.property_path)}}
  {{#if (eq act.type 'download')}}
    <a class={{if act.btn_class act.btn_class 'btn btn-default'}} href={{action-url act.url model.id}} download title={{unless expanded act.text}} disabled={{disabled}}>
      <i class={{act.icon_class}}></i>
      {{#if expanded}}&nbsp;&nbsp;{{act.text}}{{/if}}
    </a>
  {{else}}
    {{#if isMethod}}
      <a class={{if act.btn_class act.btn_class 'btn btn-default'}} {{action (perform method act receiver model)}} title={{unless expanded act.text}} disabled={{disabled}}>
        <i class={{if (not-eq act.text performing) act.icon_class 'fa fa-spinner fa-spin'}}></i>
        {{#if expanded}}&nbsp;&nbsp;{{act.text}}{{/if}}
      </a>
    {{else}}
      {{#if (eq act.type 'request')}}
        <a class={{if act.btn_class act.btn_class 'btn btn-default'}} {{action (perform request (action-url act.url model.id) act)}} title={{unless expanded act.text}} disabled={{disabled}}>
          <i class={{if (not-eq act.text performing) act.icon_class 'fa fa-spinner fa-spin'}}></i>
          {{#if expanded}}&nbsp;&nbsp;{{act.text}}{{/if}}
        </a>
      {{/if}}
    {{/if}}
  {{/if}}
{{/conditional-display}}
