{{#if is_ready}}
  <div class="table-responsive {{inputClass}}">
    <table class="table table-condensed table-striped">
      <thead>
        <tr class="inverse"><th colspan="{{column_count}}">
          {{field.label}}
          {{#unless readonly}}
            <div class="pull-right">
              <i class="fa fa-plus text-success" {{action 'addRelated' on='click'}}></i>
            </div>
          {{/unless}}
        </th></tr>
        <tr>
          {{#if (gt padderColspan 0)}}
            <th colspan={{padderColspan}}>&nbsp;</th>
          {{/if}}
          {{#each field.fields as |subfield|}}
            <th class="fieldname {{if subfield.required 'required'}}">
              {{#if subfield.label}}
                {{subfield.label}}{{#if subfield.required}}<sup>*</sup>{{/if}}
              {{else}}
                {{subfield.field}}{{#if subfield.required}}<sup>*</sup>{{/if}}
              {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      {{#if (and field.extra.sortableBy (not readonly))}}
        {{#sortable-group tagName='tbody' onChange='reorderItems' as |group|}}
          {{#each sorted as |record|}}
            {{#sortable-item tagName='tr' model=record group=group handle='.handle'}}
              <td><i class="fa fa-arrows-v handle"></i></td>
              <td><i class="fa fa-trash text-danger" {{action 'deleteRelated' record on='click'}}></i></td>
              {{#each field.fields as |subfield|}}
                <td>
                  {{form-field
                    field=subfield
                    model=record
                    horiClass=subfield.horiClass
                    inputClass=subfield.horiClass
                    class=innerClass
                    formLayout='inline'
                    addRelated=addRelated
                    reloadIfFirst=true
                  }}
                </td>
              {{/each}}
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      {{else}}
        <tbody>
          {{#each related as |record|}}
            <tr>
              {{#unless readonly}}
                <td><i class="fa fa-trash text-danger" {{action 'deleteRelated' record on='click'}}></i></td>
              {{/unless}}
              {{#each field.fields as |subfield|}}
                <td>
                  {{form-field
                    field=subfield
                    model=record
                    horiClass=subfield.horiClass
                    inputClass=subfield.horiClass
                    class=innerClass
                    formLayout='inline'
                    addRelated=addRelated
                    reloadIfFirst=true
                    readonly=(or readonly subfield.readonly)
                  }}
                </td>
              {{/each}}
              {{#if field.extra.allowOpen}}
                <td>
                  <a {{action editRelated field.extra.related_model record true}}>
                    <i class="fa fa-pencil text-info"></i>
                  </a>
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
      {{#if field.extra.aggregates}}
        <tfoot>
          <tr class="inverse"><td colspan="{{column_count}}">
            <table style="width: 100%" class="table">
              <tr class="inverse">
                {{#each field.extra.aggregates as |aggregate|}}
                  <th>{{aggregate.label}}</th>
                  {{#each (records-aggregate aggregate related) as |agg|}}
                    <td>{{agg}}</td>
                  {{/each}}
                {{/each}}
              </tr>
            </table>
          </td></tr>
        </tfoot>
      {{/if}}
    </table>
  </div>
{{else}}
  {{is-loading}}
{{/if}}
