{{#if is_ready}}
  {{#if label}}
    <legend class="FieldsetTitle">{{label}}</legend>
  {{/if}}
  {{#if is_ready}}
    {{#each fields as |field|}}
      {{form-field
        field=field
        model=model
        horiClass=(or field.horiClass horiClass)
        inputClass=(or field.inputClass inputClass)
        innerClass=(or field.class innerClass)
        main=main
        addRelated=addRelated
        editRelated=editRelated
        fetch_meta=fetch_meta
        reloadIfFirst=reloadIfFirst
        readonly=readonly
        languages=languages
      }}
    {{/each}}
  {{/if}}
{{else}}
  {{is-loading}}
{{/if}}
