{{#conditional-display
  condition=field.extra.display_condition
  value=(get model field.extra.display_condition.property_path)
  as |display|
}}
  {{#if isCollection}}
    {{component
      widgetComponent
      field=field
      model=record
      class=klass
      main=main
      addRelated=addRelated
      editRelated=editRelated
      reloadIfFirst=reloadIfFirst
  		readonly=(or field.readonly readonly)
      languages=languages
      fetch_meta=(not field.extra.dont_fetch_meta)
    }}
  {{else}}
  	{{component
  		widgetComponent
  		model=model
  		label=label
      class=klass
  		property=property
  		readonly=(or field.readonly readonly)
  		horiClass=horiClass
  		inputClass=inputClass
  		extra=field.extra
      required=(or field.required (and field.extra.display_condition.required display))
  		targetModelName=field.model
      formLayout=formLayout
      field=field
      main=main
      addRelated=addRelated
      editRelated=editRelated
      onChange=onChange
      reloadIfFirst=reloadIfFirst
      languages=languages
      value=(get model property)
  	}}
  {{/if}}
{{/conditional-display}}
