{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
}}
  {{#if readonly}}
    {{#if value}}
      <img src={{value}} style={{tnStyle}}>
    {{/if}}
  {{else}}
    <div class="image-uploader" style={{style}}>
      {{#unless background}}
        <span style="color: #999; text-align: center;">Click or drag image to upload</span>
      {{/unless}}
      <input type="file" onchange={{action 'upload'}} placeholder={{placeholder}} style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: .01;">
    </div>
    {{#if (and extra.clearable value)}}
    <button class="btn btn-danger" {{action 'clear'}} style="width: {{width}};">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;Clear
      </button>
    {{/if}}
  {{/if}}
{{/base-widget}}

