{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  as |language|
}}
  {{#if readonly}}
    {{valueStr}}
  {{else}}
    <div class="{{if required 'required'}} {{if (eq selectedItem.value _other.value) 'col-xs-4'}}">
      {{#power-select
        options=choices
        selected=selectedItem
        onchange=(action 'change')
        searchEnabled=false
        placeholder=placeHolder
        allowClear=(not required)
        as |item|
      }}
        {{item.label}}
      {{/power-select}}
    </div>
    {{#if (and extra.allowOther (eq selectedItem.value _other.value))}}
      <div class="col-xs-8">
        <input type="text" value={{value}} class="form-control" onchange={{action 'updateOtherVal' value='target.value'}}>
      </div>
    {{/if}}
  {{/if}}
{{/base-widget}}
<div class="clearfix"></div>
