{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  as |language|
}}
  {{#if readonly}}
    <p>{{value}}</p>
  {{else}}
    {{textarea class="form-control" rows=rows value=(get model (concat field.name language)) required=required}}
  {{/if}}
{{/base-widget}}
