{{#if is_ready}}
  <div class="table-responsive {{inputClass}}">
    <table class="table table-condensed table-striped">
      <thead>
        <tr class="inverse"><th colspan="{{column_count}}">
          {{field.label}}
          {{#unless readonly}}
            <div class="pull-right">
              <i class="fa fa-plus text-success" {{action 'addRelated' on='click'}}></i>
            </div>
          {{/unless}}
        </th></tr>
      </thead>
      {{#if (and field.extra.sortableBy (not readonly))}}
        {{#sortable-group tagName='tbody' onChange='reorderItems' as |group|}}
          {{#each sorted as |record|}}
            {{#sortable-item tagName='tr' model=record group=group handle='.handle'}}
              <td><i class="fa fa-arrows-v handle"></i></td>
              <td><i class="fa fa-trash text-danger" {{action 'deleteRelated' record on='click'}}></i></td>
              <td>
                {{form-fieldset
                  model=record
                  field=field
                  label=null
                  fetch_meta=false
                  main=main
                  addRelated=addRelated
                  reloadIfFirst=true
                  readonly=(eq realonly true)
                  languages=languages
                }}
              </td>
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      {{else}}
        <tbody>
          {{#each related as |record|}}
            <tr>
              {{#unless readonly}}
                <td><i class="fa fa-trash text-danger" {{action 'deleteRelated' record on='click'}}></i></td>
              {{/unless}}
              <td>
                {{form-fieldset
                  model=record
                  field=field
                  label=null
                  fetch_meta=false
                  main=main
                  addRelated=addRelated
                  reloadIfFirst=true
                  readonly=(eq realonly true)
                  languages=languages
                }}
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>
  </div>
{{else}}
  {{is-loading}}
{{/if}}
