{{#if is_ready}}
  <table class="table table-condensed table-striped tomany-slide">
    <thead>
      <tr class="inverse"><th colspan="{{field.fields.length}}">
        {{#if (and related.length (not readonly))}}
          <div class="pull-left">
            <i class="fa fa-trash text-danger" {{action 'deleteRelated' record on='click'}}></i>
          </div>
        {{/if}}
        {{field.label}}
        <div class="pull-right">
          <a class="tomany_controle" {{action 'previous' on='click'}} role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hdden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
  
          <a class="tomany_controle" {{action 'next' on 'click'}} role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hdden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        {{#unless readonly}}
          <div class="pull-right">
            <i class="fa fa-plus text-success" {{action 'addRelated' on='click'}}></i>&nbsp;&nbsp;
            {{indexPlusOne}} / {{related.length}} &nbsp;&nbsp;
          </div>
        {{/unless}}
        
      </th></tr>
    </thead>
  </table>
  
  <div id="{{field.name}}" class="innerSlide">
    {{#if related.length}}
      {{#liquid-bind record use=direction as |currentModel|}}
          {{form-fieldset
            model=currentModel
            field=field
            label=null
            fetch_meta=false
            main=main
            addRelated=addRelated
            reloadIfFirst=true
            readonly=(eq readonly true)
            languages=languages
          }}
      {{/liquid-bind}}
    {{/if}}
  </div>
{{else}}
  {{is-loading}}
{{/if}}
