{{#if field.translated}}
  {{#each langs as |lang index|}}
  <button class="pull-right btn btn-default {{if (eq lang.suffix currentLanguage) 'active'}}" {{action 'setLang' lang.long}} style="position: absolute; top: -36px; right: {{ add (mult index 42) 15}}px;" class="translation-flag" title={{lang.lang}}>
      {{world-flag lang.short}}
    </button>
  {{/each}}
{{/if}}
{{yield this.currentLanguage}}
